@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.signupContainer {
  @extend .VBox;
  gap: 1rem;
  justify-content: center;
  padding: 16px;
  background-color: rgba(184, 184, 184, 0.116);
  border-radius: 12px;
  border: 3px solid rgba(56, 53, 53, 0.603);
  width: 24rem;
}

.signupBtn {
  background: $btn-trinary;
  width: 16rem;
  height: 3rem;
  &:hover {
    background: $btn-trinary-hover;
  }
}

.googleBtn {
  background: linear-gradient(to right, #03830a, #037009);
  width: 16rem;
  height:3rem;
  font-size: 1.1rem;
  &:hover {
    background: linear-gradient(to right, #007506, #006905);
  }
}


.loginContainer {
  @extend .VBox;
  gap: 1rem;
  justify-content: center;
  padding: 16px;
  background-color: rgba(184, 184, 184, 0.116);
  border-radius: 12px;
  border: 3px solid rgba(56, 53, 53, 0.603);
  width: 24rem;
  height: 35%;

  h4 {
    margin-top: -1rem
  }
}

.formContainer {
  @extend .FormBox;
}

.loginBtn {
  margin-top: 1rem;
  background: $btn-secondary;
  width: 16rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  &:hover {
    background: $btn-secondary-hover;
  }
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 100;
}
