@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.loginContainer {
  @extend .VBox;
  @extend .StyledBox;
  margin-bottom: -1rem;
  gap: 1rem;
  width: 24rem;

  h3 {
    margin-top: -0.5rem
  }
}

.formContainer {
  @extend .FormBox;
}

.loginBtn {
  background: $btn-secondary;
  width: 16rem;
  height: 3rem;
  margin-top: 1rem;
  font-weight: bold;
  &:hover {
    background: $btn-secondary-hover;
  }
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 100;
}

.signupContainer {
  @extend .VBox;
  @extend .StyledBox;
  margin-top: -1rem;
  gap: 1rem;
  width: 24rem;
}

.signupBtn {
  background: $btn-trinary;
  width: 16rem;
  height: 3rem;
  &:hover {
    background: $btn-trinary-hover;
  }
}

.googleBtn {
  background: linear-gradient(to right, #03830a, #037009);
  width: 16rem;
  height:3rem;
  font-size: 1.1rem;
  &:hover {
    background: linear-gradient(to right, #007506, #006905);
  }
}
