@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.loginContainer {
  @extend .VBox;
  @extend .StyledBox;
  gap: 1rem;
  width: 24rem;
  padding: 2rem;

  h3 {
    margin-top: -0.5rem;
  }
}

.formContainer {
  @extend .FormBox;
  height: 100%;
  gap: 0.2rem;
}

.loginBtn {
  background: $btn-secondary;
  width: 16rem;
  height: 3rem;
  margin-top: 1rem;
  font-weight: bold;
  &:hover {
    background: $header-bg;
  }
}

.statusContainer {
  height: 3rem;
  width: auto;
  // margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.error {
  color: $logo-bg;
  height: 1rem;
  width: auto;
  font-size: 0.8rem;
  // font-weight: 100;
}

.signupContainer {
  @extend .VBox;
  @extend .StyledBox;
  padding: 2rem;
  gap: 1rem;
  width: 24rem;

  h6{
    margin: 0;
  }
}

.signupBtn {
  background: $btn-primary;
  width: 16rem;
  height: 3rem;
  &:hover {
    background: $btn-primary-hover;
  }
}

.googleBtn {
  background:$btn-google;
  width: 16rem;
  height: 3rem;
  font-size: 1.1rem;
  &:hover {
    background: $btn-google-hover;
  }
}
