@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.signupContainer {
  @extend .VBox;
  @extend .StyledBox;
  padding: 0 2rem;
  margin-top: -1rem;
  height: auto;

  label {
    margin-bottom: -0.5rem;
  }
}

.errorContainer {
  // margin-bottom: 1rem;
  height: 2rem;
}

.formContainer {
  @extend .FormBox;
  padding: 2rem;
  height: auto;

  h6 {
    // margin-top: -0.9rem;
    margin: 0;
    width: 85%;
    height: auto;
    font-size: 0.9rem;
    color: $bg-secondary;
    font-weight: 100;
  }
}

.detailsContainer {
  @extend .VBox;
}

.submitContainer {
  @extend .VBox;
  @extend .StyledBox;
  background: transparent;
  width: 24rem;
  gap: 1rem;
  margin-top: 1rem;
}

.btnContainer {
  @extend .HBox;
  margin-right: 3rem;
  gap: 1rem;
  height: 4rem;
}

.spinnerContainer {
  width: 2rem;
}

.imgNameContainer {
  @extend .HBox;
  gap: 0.8rem;
  width: 90%;
  height: 5rem;
}

.nameContainer {
  @extend .FormBox;
  justify-content: center;
  margin-top: 1rem;
}

.imgContainer {
  @extend .HBox;
  width: 50%;
  height: 100%;
}

.signupBtn {
  // margin-top: 2rem;
  background: $btn-primary;
  padding: 0 6rem;
  min-height: 3rem;
  &:hover {
    background: $btn-primary-hover;
  }
}

.nameBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
}

.nameInput {
  min-width: 12.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  background-color: $bg-secondary;
  border: 2px solid $logo-bg;
}

.inputFile {
  display: none;
}

.customFileInput {
  @extend .VBox;
  justify-content: center;
  background-color: $bg-secondary;
  // background-color: $text-secondary;
  background-size: cover;
  height: 85px;
  width: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.imgIcon {
  font-size: 30px;
  margin-bottom: 4px;
  // fill: #333;
  fill: $logo-bg;
}

.favInput {
  min-width: 18rem;
  height: 1.5rem;
  font-size: 1.2rem;
  background-color: $bg-secondary;
  border: 2px solid $logo-bg;
  box-shadow: 0 0 14px rgba(175, 175, 175, 0.589);
}

.error {
  color: $logo-bg;
  height: 1rem;
  margin-top: -1rem;
  margin-bottom: -0.5rem;
  font-size: 0.8rem;
  // font-weight: 100;
}

.imgError {
  height: 100%;
  width: 0.5rem;
  color: $logo-bg;
  font-size: 1.1rem;
}
