@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.signupContainer {
  @extend .HBox;
  @extend .StyledBox;
  width: 55%;
}

.formContainer {
  @extend .FormBox;
  height: auto;

  h6 {
    margin: 0;
    // margin-top: -0.9rem;
    width: 85%;
    font-size: 0.9rem;
    color: $bg-secondary;
    font-weight: 100;
  }
}

.detailsContainer {
  @extend .VBox;
  height: 90%;
  padding: 16px 16px;

  label {
    margin-bottom: -0.5rem;
  }
}

.submitContainer {
  @extend .VBox;
  @extend .StyledBox;
  background: transparent;
  width: 24rem;
  gap: 1rem;
}

.imgNameContainer {
  @extend .HBox;
  gap: 0.8rem;
  width: 90%;
  height: 5rem;
}

.nameContainer {
  @extend .FormBox;
  justify-content: center;
}

.imgContainer {
  @extend .VBox;
  width: 40%;
  height: 100%;
}

.signupBtn {
  margin-top: 2rem;
  background: $btn-primary;
  padding: 0 6rem;
  min-height: 3rem;
  &:hover {
    background: $btn-primary-hover;
  }
}

.nameBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
}

.nameInput {
  min-width: 12.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
}

.inputFile {
  display: none;
}

.customFileInput {
  @extend .VBox;
  justify-content: center;
  background-color: $bg-secondary;
  // background-color: $text-secondary;
  background-size: cover;
  min-width: 95%;
  min-height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.imgIcon {
  font-size: 30px;
  // fill: #333;
  fill: $logo-bg;
}

.favTitle {
  margin-top: 1rem;
  color: $logo-bg;
}

.favInput {
  border: 2px solid $text-primary;
  background-color: $bg-secondary;
  color: $logo-bg;
}

.error {
  color: red;
  margin-top: -0.5rem;
  font-size: 1rem;
  font-weight: 100;
}
