.signupForm {
  text-align: center;
}

.signupHeader {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.nameContainer {
  display: flex;
  gap: 1.5rem;
}

.nameBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
}

.nameInput {
  width: 12rem;
  height: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.inputFile {
  display: none;
}

.customFileInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text-secondary);
  background-size: cover;
  color: #333; /* Text color */
  border: none;
  width: 2.8rem;
  height: 4rem;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 100%; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

.customFileIcon {
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.favTitle {
  margin-top: 1rem;
  color: var(--page-bg-2);
}

.favInput {
  text-align: center;
  border: 2px solid var(--text-primary);
  background-color: #e180ff;
  margin-bottom: 0.5rem;
}
