@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";
// @import url("https://fonts.googleapis.com/css?family=Pacifico");

.postToolbar {
  @extend .HBox;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  gap: 10vw
}

.newPostBtn {
  border-radius: 16px;
  gap: 0.5rem;
  font-size: 1.2rem;
  height: 3rem;
  padding: 0 0.8rem;
  background: $btn-secondary;
  white-space: nowrap;

  &:hover {
    background: $btn-secondary-hover;
    box-shadow: 0 0 8px $text-secondary;
  }
}

.postFilterBtn {
  gap: 0.5rem;
  border-radius: 16px;
  font-size: 1.4rem;
  height: 3.3rem;
  padding: 0 2rem;
  background: $header-bg;
  white-space: nowrap;
  border: 2px solid $bg-primary;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  &:hover {
    background: $btn-trinary-hover;
    box-shadow: 0 0 8px $text-tertiary;
  }
}
