@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.listContainer {
  @extend .HBox;
  gap: 0.5rem;
}

.list {
  width: 100%;
  @extend .HBox;
  @extend .StyledBox;
  gap: 2rem;
  max-width: calc(100vw - 25rem);
  max-height: calc(100vh - 20rem);
  // background: transparent;
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    // display: none;
    height: 0.5rem;
  }

}

.arrowBtn {
  background: $header-bg;
  height: 30%;
  width: 2.3rem;
  &:hover {
    box-shadow: 0 0 10px rgba(175, 175, 175, 0.589);
  }
}
