.listContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list {
  display: flex;
  gap: 1rem;
  max-width: calc(100vw - 30rem);
  max-height: calc(100vh - 20rem);
  background: transparent;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
}

.list::-webkit-scrollbar {
  display: none;
  height: 0.5rem;
}

.arrowBtn {
  background: var(--header-bg);
  height: 40%;
}

.arrowBtn:hover {
  box-shadow: 0 0 10px rgba(175, 175, 175, 0.589);
}
