@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.movieGrid {
  @extend .GridBox;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 3rem;
}

.postGrid {
  @extend .GridBox;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  background-color: transparent;
  gap: 2rem;
}
