@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.successMsg {
    @extend .HBox;
    gap: 0.3rem;
    color: $text-secondary;
    font-size: 1.5rem;
    height: 100%;
}

.successIcon {
    fill:#07eb13;
    font-size: 2.5rem;
}