@import "../../../styles/containers";

.postCard {
  @extend .HBox;
  justify-content: start;
  border: 2px solid #25252580;
  background: var(--post-bg);
  padding: 12px;
  border-radius: 15px;
  margin: 16px;
  height: 12rem;
  width: 30rem;
  color: var(--text-secondary);
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 0.8rem;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 18px var(--text-secondary);
    color: var(--text-primary);
  }
}

.movieImgContainer {
  @extend .VBox;
  justify-content: center;
  gap: 1rem;
  height: 11rem;
  border-radius: 12px;
  border: 2px solid #25252580;
}

.movieContainer {
  @extend .VBox;
  margin-right: 1rem;
  width: 25%;
}

.postImgContainer {
  @extend .HBox;
  justify-content: center;
  height: 100%;
  width: 60%;
  overflow: hidden;
  margin-top: -50px;
}

.postImg {
  width: 80%;
  height: auto;
  border-radius: 6px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 75%;
  height: 100%;
}

.userContainer {
  height: 24%;
}

.postDetails {
  @extend .HBox;

  justify-content: end;
  height: 76%;
}

.detailsContainer {
  width: 100%;
}

.textContainer {
  min-height: 6rem;
  font-size: 0.9rem;
}

.rateContainer {
  @extend .HBox;
  justify-content: center;
  font-size: 1.2rem;
  gap: 2rem;
  height: 50%;
}

.rateBox {
  @extend .HBox;
  justify-content: center;
  gap: 0.3rem;
}

.rateIcon {
  color: var(--bg-secondary);
}

.commentsBox {
  @extend .HBox;
  justify-content: center;
  gap: 0.4rem;
}
