.filter-btn-group {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.genre-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25252580;
  border-radius: 16px;
  height: 80%;
  width: 95%;
  padding: 0 12px;
  margin-top: 0.8rem;
}

.filter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-secondary);
  border-radius: 16px;
  border: 4px solid #25252580;
  height: 70%;
  width: 95%;
  gap: 1.5rem;
  padding: 0 1.5vw;
}

.genre-btn-container {
  display: flexbox;
  text-align: center;
  height: 80%;
  overflow: auto;
}

.genre-btn-container::-webkit-scrollbar {
  display: none;
}

.filter-btn {
  height: 60%;
  white-space: nowrap;
  border: 2px solid #25252580;
  font-size: 1.5rem;
  background: var(--btn-primary);
  padding: 0 1.5vw;
}

.filter-btn:hover {
  background: var(--btn-primary-hover);
}

.genre-btn {
  margin: 6px;
  height: 37%;
  font-weight: 400;
  border-radius: 16px;
  font-size: 1.2rem;
  background: var(--btn-secondary);
  white-space: normal;
  word-wrap: break-word;
  padding: 0 12px;
  box-sizing: border-box;
}

.genre-btn:hover {
  background: var(--btn-secondary-hover);
  box-shadow: 0 4px 18px var(--nav-bg-primary);
}

.scroll-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.scroll-btn {
  background: none;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.scroll-btn:hover {
  color: var(--text-primary);
}
