
.HBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.VBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GridBox {
  display: grid;
  place-items: center;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 85%;
  height: 80%;
  margin-left: 5rem;
  border-radius: 20px;
  background-color: rgba(37, 37, 37, 0.719);
  padding: 16px 26px;
}

.FormBox {
  @extend .VBox;
  gap: 1rem;
  width: 24rem;
  height: 12rem;
  flex-wrap: wrap;
  input {
    font-size: 1.2rem;
    width: 80%;
  }
  label {
    width: 80%;
    margin-bottom: -0.8rem;
  }
}

.StyledBox {
  padding: 16px;
  // background-color: rgba(184, 184, 184, 0.116);
  border-radius: 12px;
  // border: 3px solid rgba(56, 53, 53, 0.603);
  background: rgb(24, 24, 24);
  border: 3px solid #2525259a;
}
