.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 6px;
  background-color: var(--page-bg-2);
  position: relative;
  margin-top: 2rem;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  width: 35vw;
  height: 90%;
  font-size: 1.2rem;
}

.search-input::placeholder {
  color: rgb(214, 214, 214);
  font-weight: 400;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  color: var(--text-primary);
  height: 70%;
  width: 60px;
  border-radius: 8px;
  position: absolute;
  right: 9px; /* Adjust this value as needed */
}

.search-btn:hover {
  background-color: var(--bg-primary);
}
