@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.toolbar {
  @extend .HBox;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 1rem;
  height: 10rem;
}
