.toolbar {
  display: flex;
  flex-direction: row;
  height: 8rem;
  width: 90%;
  justify-content: center;
  gap: 1rem;
}

.toolbarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18%;
  height: auto;
  font-weight: bold;
  white-space: nowrap;
  font-size: 3.5rem;
}

.toolbarBtn:hover {
  background: linear-gradient(to right, #8d8d8d, #6e6e6e);
  box-shadow: 0 4px 18px var(--nav-bg-primary);
}

.toolbarExpand {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: -2rem;
  width: 98%;
  height: 40%;
}

.toolbarExpand::-webkit-scrollbar {
    max-height: 0.5rem;
}
