@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.userCardSmall {
  @extend .HBox;
  gap: 0.7rem;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
}

.userCardBig {
  @extend .HBox;
  gap: 0.7rem;
  height: 5rem;
  width: 15rem;
  font-size: 1.8rem;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }
}

