.post-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 2rem;
}

.new-post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 0.5rem;
  font-size: 1.2rem;
  height: 3rem;
  width: 10rem;
  background: var(--header-bg);
  white-space: nowrap;
}

.new-post-btn:hover {
  background: linear-gradient(to left, #512672, #651f9b);
  box-shadow: 0 0 8px var(--text-secondary);
}

.post-filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 0.5rem;
  font-size: 1.3rem;
  height: 3rem;
  /* width: 10rem; */
  padding: 0 1.3vw;
  background: var(--btn-secondary);
  white-space: nowrap;
  border: 2px solid #25252580;
}

.post-filter-btn:hover {
  background: linear-gradient(to left, #7a39ac, #9c44df);
  box-shadow: 0 0 8px var(--text-secondary);
}
