@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.movieCard {
  @extend .VBox;
  background-color: $nav-bg-secondary;
  height: 14rem;
  width: 8rem;
  padding: 12px;
  // margin-top: 16px;
  // margin-bottom: 16px;
  // margin-left: 16px;
  border-radius: 16px;
  color: $text-secondary;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 18px $text-secondary;
  color: $text-primary;
  }
}

.imgContainer {
  width: 100%;
  height: 80%;
  margin-bottom: 5%;

  img {
    width: 100%;
    height: 100%;
  }
}

.cardTitle {
  font-size: 0.9rem;
}
