@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.searchBar {
  @extend .HBox;
  @extend .StyledBox;
  justify-content: center;
  gap: 0.2rem;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: auto;
}

.searchInput {
  width: 30vw;
  font-size: 1.2rem;
  padding-right: 50px;
}

.searchBtn {
  background: $header-bg;
  height: 2.5rem;
  width: 6rem;
  margin-left: -102px;

  &:hover {
    background: $btn-secondary-hover;
    box-shadow: 0 0 10px rgba(175, 175, 175, 0.589);
  }
}

.searchRes {
  @extend .VBox;
  gap: 1rem;
  width: 90%;
  margin-left: 5rem;
  margin-top: -1rem;
  color: var(--text-primary);
  text-align: center;
  overflow: auto;
  font-size: 2rem;
}

.resContainer {
  @extend .VBox;
  justify-content: center;
  width: 100%;
  min-height: 18rem;
  margin-top: -1.5rem;
}