.header {
  /* background-color: var(--bg-secondary); */
  background: var(--header-bg);
  width: 96%;
  height: 4rem;
  margin-left: 4%;
  text-align: center;
  position: fixed;
  top: 0;
}

.headerImg {
  width:11rem;
  height: auto;
  margin-top: 0.7rem;
}
