@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.detailsCard {
  @extend .HBox;
  background-color: $nav-bg-secondary;
  gap: 1rem;
  border-radius: 16px;
  height: 80%;
  width: 80%;
  margin-left: 5rem;
  font-size: 1.5rem;
  box-shadow: 0 4px 18px $text-secondary;
  padding: 16px 16px;

  h5 {
    margin: 0 8px;
  }

  h1 {
    margin: 0;
  }
}

.imgContainer {
  @extend .VBox;
  justify-content: center;
  height: 90%;
  width: 30%;

  img {
    width: 90%;
    height: auto;
    border-radius: 16px;
  }
}

.detailsContainer {
  @extend .VBox;
  height: 85%;
  width: 60%;

    h3 {
    margin-top: 0rem;
    margin-bottom:-1rem;
  }
}

.titleContainer {
  @extend .HBox;
  width: 100%;
  height: 30%;
  margin-bottom: 1rem;
}

.tagsContainer {
  @extend .HBox;
  width: 100%;
  height: 10%;
}

.yearTag {
  background: $btn-secondary;
  border-radius: 32px;
  padding: 4px 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.genreTag {
  background: $btn-primary;
  border-radius: 8px;
  padding: 4px 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.langTag {
  background: $btn-trinary;
  border-radius: 24px;
  border-radius: 24px;
  padding: 4px 16px;
  color: $text-secondary;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.overviewContainer {
  @extend .VBox;
  width: 100%;
  height: 50%;
  overflow: auto;

}

.buttonsContainer {
  @extend .HBox;
  @extend .StyledBox;
  justify-content: center;
  background: transparent;
  width: 100%;
  height: 10%;
  gap: 1rem;
}

.newPostBtn {
  border-radius: 16px;
  gap: 0.8rem;
  font-size: 1.5rem;
  padding: 12px 26px;
  background: $btn-secondary;
  white-space: nowrap;

  &:hover {
    background: $btn-secondary-hover;
    box-shadow: 0 0 8px $text-secondary;
  }
}

.getPostsBtn {
  border-radius: 8px;
  gap: 0.8rem;
  font-size: 1.5rem;
  padding: 12px 26px;
  background: $btn-trinary;
  white-space: nowrap;

  &:hover {
    background: $btn-trinary-hover;
    box-shadow: 0 0 8px $text-secondary;
  }
  
}

.postIcon {
  color: $logo-bg;
}

.closeBtnContainer {
  @extend .VBox;
  height: 100%;
  width: 10%;
}

.closeBtn {
  background: transparent;
  margin-top: 2rem;
  font-size: 45px;
  padding: 8px 8px;

  &:hover {
    background-color: rgb(49, 48, 48);
    border-radius: 15px;
    // box-shadow: 0 0 8px $text-tertiary;
  }
}
