@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.navbar {
  position: fixed;
  background-color: $nav-bg-secondary;
  transition: width 250ms ease;
  z-index: 1000;

  &:hover {
    background: linear-gradient(to left,$nav-bg-primary,$nav-bg-secondary);
  }

  &:hover .navText {
    display: block;
  }
}

.navbarList {
  @extend .VBox;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.navItem {
  width: 100%;

  &:first-child {
    margin-bottom: 10rem;
  }
}

.navLink {
  @extend .HBox;
  height: 5rem;
  border-radius: 18px;
  color: $text-secondary;
  text-decoration: none;
  filter: grayscale(100%) brightness(110%);
  transition: 250ms;

  &:hover {
    filter: grayscale(0%) opacity(1);
    color: $text-primary;
    background-color: rgb(19, 19, 19);
  }

  &:hover .navIcon {
    min-height: 2rem;    
  }
}

.navText {
  display: none;
  font-weight: bold;
  min-width: 150px;
  font-size: 1.3rem;
}

.navIcon {
  fill: $bg-secondary;
  min-width: 2rem;
  margin: 0 1.5rem;
}
