@import "../../styles/styles.scss";
@import "../../styles/containers.scss";

.filterBtnGroup {
  @extend .StyledBox;
  border-radius: 16px;
  background: $group-bg;
  border: 3px solid #2525259a;
  padding: 16px 24px;
}

.filterBtnContainer {
  @extend .HBox;
  gap: 1rem;
  justify-content: center;
}

.filterBtn {
  gap: 0.5rem;
  border-radius: 16px;
  font-size: 1.4rem;
  height: 3.3rem;
  padding: 0 2rem;
  background: $btn-primary;
  white-space: nowrap;
  border: 2px solid #2000d36c;

  &:hover {
    background: $btn-primary-hover;
    box-shadow: 0 0 8px $text-tertiary;
  }
}

.genreBtnGroup {
  @extend .HBox;
  justify-content: center;
  background-color: $nav-bg-secondary;
  border-radius: 16px;
  height: 50%;
  width: 40rem;
  padding: 10px 16px;
  border: 3px solid #2525259a;
}

.genreBtnContainer {
  @extend .HBox;
  justify-content: center;
  // padding-top: 0.5rem;
  flex-wrap: wrap;
  overflow: auto;
  scroll-behavior: smooth;
  gap: 0.8rem;
  height: 95%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.genreBtn {
  height: 2rem;
  border-radius: 16px;
  font-size: 1rem;
  background: $btn-secondary;
  border: 1.5px solid #25252580;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 16px;
  box-sizing: border-box;

  &:hover {
    background: $btn-secondary-hover;
    box-shadow: 0 0 18px rgba(175, 175, 175, 0.589);
  }
}

.scrollBtnContainer {
  @extend .VBox;
}

.scrollBtn {
  background: none;
  color: $text-secondary;
  font-size: 1.2rem;

  &:hover {
    color: $text-primary;
  }
}
