@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: #939393;
  --text-secondary: #f5f5f5;
  --bg-primary: #3b1a55;
  --bg-secondary: #532476;
  --bg-tertiary: #b350ff;
  --nav-bg-primary: rgb(30, 30, 30);
  --nav-bg-secondary: rgb(20, 20, 20);
  --page-bg: rgb(68, 65, 65);
  --page-bg-2: rgb(184, 184, 184);  font-synthesis: none;
  --btn-primary: linear-gradient(to right, rgb(23, 144, 243), rgb(33, 153, 250));
  --btn-primary-hover:linear-gradient(to left, rgb(6, 109, 194), rgb(8, 108, 189));
  --btn-secondary:linear-gradient(to right, var(--bg-tertiary), rgb(160, 36, 255));
  --btn-secondary-hover:linear-gradient(to right, rgb(117, 0, 207), rgb(113, 0, 199));
  --btn-trinary:linear-gradient(to right, var(--bg-primary), var(--bg-secondary));
  --btn-trinary-hover:linear-gradient(to right, #271138, #431566);
}

a {
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

div::-webkit-scrollbar {
  width: 0.5rem;
}

div::-webkit-scrollbar-track {
  background: var(--nav-bg-secondary);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(47, 47, 47);
  border: 2px solid var(--nav-bg-secondary);
}
