@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#root {
  max-width: 1280px;
}

:root {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: #f5f5f5;
  --text-secondary: #939393;
  --text-tertiary: rgb(105, 98, 98);
  --bg-primary: #551a50;
  --bg-secondary: #8f25af;
  --bg-tertiary: #cf3dfc;
  --nav-bg-primary: rgb(5, 5, 5);
  --nav-bg-secondary: rgb(0, 0, 0);
  --page-bg: rgb(27, 27, 27);
  --page-bg-2: rgb(184, 184, 184);
  --btn-primary: linear-gradient(to left, rgb(0, 119, 255), rgb(14, 89, 252));
  --btn-primary-hover: linear-gradient(
    to left,
    rgb(1, 55, 206),
    rgb(20, 66, 216)
  );
  --btn-secondary: linear-gradient(
    to left,
    var(--bg-tertiary),
    rgb(187, 0, 224)
  );
  --btn-secondary-hover: linear-gradient(
    to right,
    rgb(173, 0, 207),
    rgb(159, 0, 199)
  );
  --btn-trinary: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-secondary)
  );
  --btn-trinary-hover: linear-gradient(to right, #271138, #431566);
  --header-bg: linear-gradient(to left, var(--bg-secondary), #8e11b4);
  --post-bg: linear-gradient(
    to right,
    var(--nav-bg-secondary),
    var(--nav-bg-primary)
  );
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text-secondary);

  &:hover {
    color: var(--text-primary);
  }
}

label,
h6 {
  color: var(--text-secondary);
  font-size: 1rem;
}

div {
  font-family: "Lato", sans-serif;
  font-weight: bold;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--nav-bg-secondary);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(47, 47, 47);
    border: 2px solid var(--nav-bg-secondary);
  }
}

input {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  height: 90%;
  font-size: 1.5rem;
  padding-left: 12px;

  &::placeholder {
    color: var(--page-bg-2);
    font-size: 1.1rem;
  }
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Lato", sans-serif;
  /* font-weight: bold; */
  border-radius: 8px;
  border: none;
  outline: none;
  color: var(--text-primary);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.home,
.movies,
.tv-shows,
.search,
.chat,
.profile,
.movie-details,
.login,
.movie,
.tv,
.signup {
  margin-left: 5rem;
  display: flex;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 5rem);
  align-items: center;
  justify-content: start;
  font-size: 3rem;
  background-color: var(--page-bg);
  color: var(--text-primary);

  &:first-child {
    font-size: 1.3rem;
    flex-direction: column;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navItem:first-child {
    margin-bottom: 0;
  }

  .navbarList {
    flex-direction: row;
  }

  .navLink {
    justify-content: center;
    transition: none;
  }

  .navbar:hover .navText {
    display: none;
  }

  .home,
  .movies,
  .tv-shows,
  .search,
  .chat,
  .profile,
  .movie-details,
  .login,
  .movie,
  .tv,
  .signup {
    margin-left: 0;
    width: 100vw;
  }

  .scrollableGrid {
    max-width: 100vw;
    margin: 0;
  }

  .header {
    width: 100%;
    margin-left: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;

    &:hover {
      width: 16rem;
    }
  }

  .navbar:hover .navText {
    display: inline;
    transition: opacity 250ms;
  }
}


