@import "../../../styles/styles.scss";
@import "../../../styles/containers.scss";

.postCard {
  @extend .HBox;
  gap: 0.5rem;
  height: 55%;
  width: 70%;
  background: $post-bg;
  border-radius: 16px;
  padding: 12px;
  color: $text-primary;
  font-size: 0.9rem;
  border: 3px solid $bg-secondary;
}

.movieContainer {
  @extend .VBox;
  justify-content: center;
  gap: 1rem;
  width: 25%;
  height: 100%;
  border-radius: 12px;
  // border: 2px solid #25252580;

  h3 {
    margin: 0;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    width: 80%;
    height: auto;
    border-radius: 6px;
  }
}

.lineContainer {
  min-width: 2px;
  height: 100%;
  background-color: $bg-secondary;
  filter: blur(0.5px);
}

.postContainer {
  @extend .VBox;
  gap: 0.5rem;
  padding: 2rem 2rem;
  width: 40%;
  height: 100%;
}

.userContainer {
  @extend .VBox;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.postDetails {
  @extend .HBox;
  align-items: start;
  height: 40%;
  width: 100%;
  // color:$text-primary;
  font-size: 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.075);
  border-radius: 8px;
  padding: 1.5rem 1.5rem;
}

.rateContainer {
  @extend .HBox;
  justify-content: center;
  font-size: 1.2rem;
  gap: 2rem;
  height: 30%;
  width: 100%;
}

.rateBox {
  @extend .HBox;
  justify-content: center;
  // gap: 0.3rem;
}

.rateIcon {
  color: $bg-secondary;
  font-size: 70px;
  // margin-right: -40.5px;
  margin-bottom: 6px;
}

.rateLabel {
  margin: 0;
  width: 30px;
  margin-left: -53px;
  text-align: center;
  font-size: 1.8rem;
  color: $logo-bg;
}

.commentsBox {
  @extend .HBox;
  justify-content: center;
  margin-left: 5rem;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.commentIcon {
  color: $page-bg-2;
  margin-top: 0.2rem;
  font-size: 35px;
}

.postImgContainer {
  @extend .HBox;
  justify-content: center;
  height: 100%;
  width: 25%;

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}

.closeBtnContainer {
  @extend .VBox;
  height: 100%;
  width: 10%;
}

.closeBtn {
  background: transparent;
  margin-top: 2rem;
  font-size: 45px;
  padding: 8px 8px;

  &:hover {
    background-color: rgb(49, 48, 48);
    border-radius: 15px;
    // box-shadow: 0 0 8px $text-tertiary;
  }
}

.commentsContainer {
  @extend .VBox;
//   justify-content: center;
  height: 20%;
  gap: 0.5rem;
  overflow: auto;
  width: 70%;
}
